@import 'style.css';
@import 'header-footer.css';
@import 'navbar.css';

input::placeholder {
    text-transform: capitalize;
}

/*********************Style Related******************/

.featured .title {
    text-align: center;
    text-indent: 1em;
}
.image-group {
    background-color: floralwhite;
    padding-top: 0.5em;
}

.image-caption {
    text-align: center;
    padding: 10px 20px;
    background-color: floralwhite;
    text-transform: capitalize;
    margin: 0;
}

.blog-post-link {
    display: block;
}

.post-thumbnail {
    padding: 0.5em;
    width: auto;
    height: auto;
    background-color: rgba(150, 200, 255, 1.0);
    color: black;
    text-indent: 1em;
    border-radius: 0.1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.post-thumbnail:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#post-img {
    display: block;
    width: 90%;
    margin: auto;
}

/***********************Grid and Media Queries Related*************************/

#container {
    width: auto;
    font-size: 1em;
    padding-top: 0;
    margin: 0.2em auto;
    display: grid;
    /* grid-gap: 0.2em; */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        'header'
                        'main'
                        'footer';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

@media screen and (min-width: 701px) and (max-width: 1025px) {
    #container {
        font-size: 1em;
        padding-top: 0;
        margin: 0.2em auto;
        display: grid;
        grid-gap: 0.2em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .header {
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 1.5em;
    }

    .header-content {
        flex-direction: row;
    }

    .blog-name {
        flex-grow: 1;
        text-align: left;
        width: auto;
    }

    nav {
        flex-grow: 2;
        width: auto;
    }

    .nav-bar {
        flex-direction: row;
    }

    .nav-bar>li {
        justify-content: center;
        flex-grow: 1;
    }

    .nav-bar-link {
        flex-grow: 2;
        text-decoration: none;
        font-size: 1.5em;
        display: inline-block;
        text-align: center;
        padding: 0.5em 0;
        width: 100%;
    }

    .nav-bar-link>form {
        width: 100%;
        margin:0;
        padding: 0;
    }

    .main {
        grid-area: 2 / 1 / 6 / 3;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2em;
        grid-template-areas:
            'featured'
            'not-featured'
        ;
    }

    .featured {
        grid-area: featured;
    }

    .not-featured {
        grid-area: not-featured;
    }

    #footer {
        grid-area: 17 / 1 / 18 / 3;
    }
}

@media screen and (min-width: 1026px) {
    #container {
        height: auto;
        min-height: 96vh;
        font-size: 1.1em;
        grid-gap: 0.2em;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(11, 0.2fr);
    }

    .header {
        grid-area: 1 / 1 / 2 / 9;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 auto;
        padding-top: 0.5em;
        height: auto;
        background-color: rgba(0, 10, 30, 0.9);
        color: rgb(243, 233, 208);
    }

    .blog-name {
        width: auto;
        flex-grow: 2;
        text-align: start;
    }

    nav {
        width: auto;
    }

    .nav-bar {
        flex-direction: row;
    }

    .nav-bar-link, .nav-bar-link>form {
        width: auto;
        flex-grow: 1;
    }

    .main {
        grid-area: 2 / 1 / 11 / 9;
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            'featured not-featured'
        ;
    }

    .not-featured {
        display: grid;
        gap: 0.2em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 45vh);
    }

    .not-featured-item {
        flex-shrink: 2;
    }

    .not-featured .thumbnail-content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        grid-template-areas:
                            'introduction image';
    }

    .blog-post-link {
        display: block;
        text-decoration: none;
    }

    .not-featured .blog-post-link {
        border: 0.2em  solid  rgb(235, 235, 235);
    }

    .not-featured .thumbnail-content>#introduction {
        grid-area: introduction;
    }

    .not-featured .thumbnail-content>#post-img {
        grid-area: image;
        padding-left: 1em;
    }

    .not-featured .title {
        text-align: left;
    }

    #footer {
        grid-area: 11 / 1 / 12 / 9;
    }
}