@import 'grid-media-queries.css';

html .viewport {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    width: 95vw;
    /***this way on iphone there is no horizontal scroll***/
    height: auto;
    margin: 0.2em;
    padding: 0;
    background: url("https://user-images.githubusercontent.com/33415537/34185320-62d61970-e52d-11e7-81d5-58b8cc2c9d90.gif") #6DF;
    background-size: cover;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, sans-serif;
}

/*********************Style Related******************/
.header-content {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: rgba(0, 10, 30, 0.9);
    color: rgb(243, 233, 208);
    text-align: left;
}

nav {
    width: 100%;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar>li {
    /* justify-content: center; */
    /* flex-grow: 1; */
    align-items: stretch;
}


.nav-bar-link {
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    text-align: center;
    padding: 0.5em;
    width: 100%;
}

.nav-bar-link:hover, .nav-bar-link:active {
    background-color:  rgba(243, 233, 208, 0.9);
    color: rgb(0, 10, 30);
}

.nav-bar-link>input {
    height: 100%;
    width: 100%;
}

.nav-bar-link>button {
    height: 100%;
    width: 100vw;
}

.blog-name {
    /* flex-grow: 1; */
    margin: 0;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

/* .blog-name>a{
    text-decoration: none;
} */

/* .social-links {
    font-size: 1.5em;
    margin: 0.2em auto;
} */

/* .old-posts-item {
    text-decoration: none;
} */

time {
    font-style: italic;
    font-size: 0.8em;
    text-indent: 1em;
}

.time {
    margin-top: 0px;
    text-indent: 1.5em;
}

/* .aside {
    margin: 0;
    padding: 0.3em;
} */

a {
    color: inherit;
}

/* #item-t>a {
    text-decoration: none;
} */

#introduction>h2 {
    text-align: left;
    text-indent: 1em;
}

h2,
h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

footer {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: rgba(0, 10, 30, 0.9);
    color: rgb(243, 233, 208);
}

#me {
    width: 90%;
    height: 90%;
    object-fit: contain;
    min-height: 18em;
    /***otherwise me.jpg won't display on Chrome small screen - phone*/
}

/* #accessibility {
    text-align: justify;
    text-indent: 1em;
} */

.intro {
    padding: 0.5em;
    width: auto;
    height: auto;
    background-color: rgba(150, 200, 255, 1.0);
    color: black;
    text-indent: 1em;
}

/* .items { */
    /* padding: 0.5em;
    width: auto;
/* } */

/* #item-1a {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#item-1b {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#item-2 {
    background-color: rgba(0, 150, 200, 0.8);
    cursor: pointer;
}

#item-t {
    font-size: 2em;
    background-color: rgba(200, 200, 255, 0.8);
    text-align: center;
} */

/* #item-3 {
    background: url(https://user-images.githubusercontent.com/33415537/34185311-5a44c630-e52d-11e7-81c6-b1c4114323e3.jpg) rgba(150, 200, 255, 0.8);
    background-size: cover;
    min-height: 5em; */
    /***otherwise flower.jpg will display as a tiny line on small screens */

/* }

#item-4 {
    background: url(https://user-images.githubusercontent.com/33415537/34185313-5ee156b8-e52d-11e7-92df-6bc16b791000.jpg) rgba(200, 200, 255, 0.8);
    background-size: cover;
    min-height: 5em; */
    /***otherwise free.jpg will display as a tiny line on small screens */
/*
} */

/* #item-5 {
    background-color: rgba(150, 200, 255, 0.8);
    color: black;
    text-indent: 1em;
} */

/* .aside {
    background-color: rgba(150, 200, 255, 0.8);
    color: black;
}  */

