nav {
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar>li {
    align-items: stretch;
}

.nav-bar-link {
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    text-align: center;
    padding: 0.5em;
    width: 100%;
}

.nav-bar-link>form>input {
    border:0;
    padding: 0;
    width: 78%;
    height: 2em;
}

.nav-bar-link>form>button {
    border:0.1px solid rgb(243, 233, 208);
    width: 20%;
    height: 2em;
    background-color: dimgray;
}

.blog-name {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}