/**********General styles***************/

html .viewport {
    height: 100vw;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: url("https://user-images.githubusercontent.com/33415537/34185320-62d61970-e52d-11e7-81d5-58b8cc2c9d90.gif") #6DF;
    background-size: cover;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, sans-serif;
}


h2,
h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

time {
    font-style: italic;
    font-size: 0.8em;
    text-indent: 1em;
}

.time {
    margin-top: 0px;
    text-indent: 1.5em;
}

/* html .viewport { */
    /* height: 100%; */
    /* width: 100%;
    margin: 0;
    padding: 0; */
/* } */

/* body {
    font-size: 1em;
    width: 95vw;
    height: auto;
    margin: 0.2em auto;
    padding: 0;
    background: url("https://user-images.githubusercontent.com/33415537/34185320-62d61970-e52d-11e7-81d5-58b8cc2c9d90.gif") #6DF;
    background-size: cover;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, sans-serif;
} */
